<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Haz click en una imagen para descargar</h1>
    <ul>
        <img src="../images/img1.gif">
        <li><a href="/download/img1">Imagen 1</a></li>
        <li><a href="/download/img2">Imagen 2</a></li>
        <li><a href="/download/img3">Imagen 3</a></li>
        <li><a href="/download/img4">Imagen 4</a></li>
        <li><a href="/download/img5">Imagen 5</a></li>
        <li><a href="/download/img6">Imagen 6</a></li>
    </ul>
</body>
</html>